* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 90px;
}

ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

section p,
li,
span,
ul,
div {
  line-height: 25px;
}
